.gallery-sec {
  padding: 40px 0;
}

.gallery-sec .item {
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(218, 218, 218, 0.4);
  overflow: hidden;
  margin: 0 5px;
}

.gallery-sec .item figure {
  margin-bottom: 0;
}

.gallery-sec .item figure .bg-img {
  cursor: pointer;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

